.deev{
    /* background-color: ; */
    border: solid;
    /* border-radius: 10px; */
    width: 4rem;
    height: 1.5rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    background-color: white;
}